 {% load static %}
 <div class="col-lg-3 col-md-6 mb-4">
 <!--Card-->
            <div class="card my-2 mx-2">
              <!--Card image-->
              <div class="view overlay">
               <img src="{% if book.image %}
                          {{book.image.url}}
                          
                          {% else %}
                           {% static 'images/book.png' %}
                          {% endif %}" class="img-fluid" />
                  
              </div>
              <!--Card image-->
              <!--Card content-->
               <div class="card-header">
                  <a href="{% url 'book-detail' book.slug %}" class="dark-grey-text header-link">{{book.name}}</a> 
                  {% comment %} <i class="fas fa-book-open"></i>  {% endcomment %}
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-bold blue-text">
                  <small><i class="fas fa-pen-fancy"></i> {{ book.author}}</small>
                </h5>
                <!--Category & Title-->
                <a href="#" class="grey-text">
                   <small>
                      <h6>{{ book.book_category.category_name }}</h6>
                  </small>
                </a>
                <a href="{{ book.get_add_to_cart_url }}"  class="btn btn-primary btn-md my-0 p">+Add</a>
                <a href="{% url 'book-detail' book.slug %}"  class="btn btn-warning btn-md my-0 p">Read More</a>
              </div>
              <!--Card content-->
            </div>
            <!--Card-->
        </div>