{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}



{% block content %}
    <!-- Main Section -->
<main>
 {% include 'partials/_slider.html' %}
  <div class="container">
    <h3 class="heading font-weight-light">Books</h3>
    <br/>
    {% if books %}
    
    <section class="text-center mb-4">
        <!--Grid row-->
        <div class="row wow fadeIn">
      {% for book in books %}
          <!--Grid column-->
            {% include 'partials/_card.html' %}
          <!--Grid column-->
     {% endfor %}
        </div>
        <!--Grid row-->
  </section>
      <!--Section-->

  {% else %}
    <p class="d-block font-weight-light my-2">No books available</p>
  {% endif %}
  
  <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>

<!-- Main Section ends-->
{% endblock %}

